h1 {
   font-size:3em;
  color : blue;
  }
  
  h2 {
  color : green;
  font-weight : normal;
  font-style : italic;
  }
  #tasks .completed {
    background: #ccc;
  text-decoration : underline;
  }
  body {background: pink;
  }
  .completed {font-size: 12px;

  }
  